services:
  n1:
    build: .
    command: ["--id=n1","--config=/config/nodes.docker.json","--listen=:9001","--data_dir=/data"]
    volumes:
      - ./nodes.docker.json:/config/nodes.docker.json:ro
      - ./data/n1:/data
    ports:
      - "9001:9001"
    healthcheck:
      test: ["CMD","wget","-qO-","http://localhost:9001/health"]
      interval: 5s
      timeout: 2s
      retries: 10

  n2:
    build: .
    command: ["--id=n2","--config=/config/nodes.docker.json","--listen=:9002","--data_dir=/data"]
    volumes:
      - ./nodes.docker.json:/config/nodes.docker.json:ro
      - ./data/n2:/data
    ports:
      - "9002:9002"
    healthcheck:
      test: ["CMD","wget","-qO-","http://localhost:9002/health"]
      interval: 5s
      timeout: 2s
      retries: 10

  n3:
    build: .
    command: ["--id=n3","--config=/config/nodes.docker.json","--listen=:9003","--data_dir=/data"]
    volumes:
      - ./nodes.docker.json:/config/nodes.docker.json:ro
      - ./data/n3:/data
    ports:
      - "9003:9003"
    healthcheck:
      test: ["CMD","wget","-qO-","http://localhost:9003/health"]
      interval: 5s
      timeout: 2s
      retries: 10
